body {
    margin-top: 60px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.card {
    width: 40%;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.author {
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    width: 70%;
}

.panel {
    padding-left: 30px;
    display: inline-block;
}

.icon {
    color: black;
}