{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "feedback-add" %}">Создать отзыв</a></li
>{% endblock menu %}

{% block title %}Все отзывы{% endblock title %}


{% block page_header %}Гостевая книга{% endblock page_header %}

{% block content %}
    <form action="{% url "feedback-list" %}" method="get">
        <p><label for="{{ form.author.id_for_label }}">{{form.author.label}}</label></p>
        <p>{{ form.author }}</p>
        <p><input type="submit" value="Найти"></p>
    </form>


    {% if not feedbacks %}
        <h2>НЕТ ОТЗЫВОВ</h2>
    {% endif %}

    {% for feedback in feedbacks %}
        <div class="card">
            <div class="blocks">
                <p class="author">{{ feedback.author }} ({{ feedback.email }})</p>
                <p class="panel">
                    <a href="{% url "feedback-update" feedback.id %}"><i
                            class="far fa-edit icon"></i></a>
                    <a href="{% url "feedback-delete" feedback.id %}"><i
                            class="fas fa-trash-alt icon"></i></a>
                </p>
            </div>
            <p class="text">{{ feedback.text }}</p>
        </div>
    {% endfor %}
{% endblock content %}
